/* GLOBAL STYLING START */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
    color: #000;
}

section {
    scroll-behavior: smooth;
}

:is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6) {
    font-family: "Outfit", sans-serif;
    text-transform: uppercase;
}

:is(.page-width, .container) {
    max-width: 1330px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
}

.h1 {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: 0px;
}

.h2 {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0px;
}

.headingHldr {
    margin-bottom: 50px;
}

.headingHldr .h2 {
    text-align: center;
}

body .swiper-button-prev {
    left: 75px;
    opacity: 1 !important;
    z-index: 10;
}

body .swiper-button-prev::after {
    color: #fff;
    font-size: 35px;
}

body .swiper-button-next {
    right: 75px;
    opacity: 1 !important;
    z-index: 10;
}

body .swiper-button-disable {
    cursor: none;
}

body .swiper-button-next::after {
    color: #fff;
    font-size: 35px;
}

:is(input, button, select, textarea) {
    font-family: "DM Sans", sans-serif;
}

::placeholder {
    font-family: "DM Sans", sans-serif;
}

.mainBtn {
    margin-top: 50px;
}

.mainBtn :is(a, button) {
    padding: 16px 33px 18px;
    border-radius: 100px;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0px;
    display: block;
    position: relative;
    width: fit-content;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    text-transform: capitalize;
}

.mainBtn :is(a, button).lightBtn {
    background: #E2DBC9;
    color: #000;
    border: 1px solid #E2DBC9;
}

.mainBtn :is(a, button).lightBtn:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #000;
    z-index: -1;
}

.mainBtn :is(a, button).lightBtn:hover,
.mainBtn :is(a, button).lightBtn:focus {
    color: #E2DBC9;
}

.mainBtn :is(a, button).lightBtn:hover:before,
.mainBtn :is(a, button).lightBtn:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.mainBtn :is(a, button).darkBtn {
    background: #000;
    color: #E2DBC9;
    border: 1px solid #000;
}

.mainBtn :is(a, button).darkBtn:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #fff;
    z-index: -1;
}

.mainBtn :is(a, button).darkBtn:hover,
.mainBtn :is(a, button).darkBtn:focus {
    color: #000;
}

.mainBtn :is(a, button).darkBtn:hover:before,
.mainBtn :is(a, button).darkBtn:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.mainBtn :is(a, button).lightBorderBtn {
    color: #FAF9E4;
    border: 1px solid #FAF9E4;
    background: transparent;
}

.mainBtn :is(a, button).lightBorderBtn:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #000;
    z-index: -1;
}

.mainBtn :is(a, button).lightBorderBtn:hover,
.mainBtn :is(a, button).lightBorderBtn:focus {
    color: #FAF9E4;
}

.mainBtn :is(a, button).lightBorderBtn:hover:before,
.mainBtn :is(a, button).lightBorderBtn:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.mainBtn :is(a, button).darkBorderBtn {
    color: #000;
    border: 1px solid #000;
}

.mainBtn :is(a, button).darkBorderBtn:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #000;
    z-index: -1;
}

.mainBtn :is(a, button).darkBorderBtn:hover,
.mainBtn :is(a, button).darkBorderBtn:focus {
    color: #fff;
}

.mainBtn :is(a, button).darkBorderBtn:hover:before,
.mainBtn :is(a, button).darkBorderBtn:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

/* GLOBAL STYLING END */

/* MAIN BANNER CSS START */

.mainBanner :is(.container, .page-width) {
    padding-left: 0px !important;
    padding-right: 0px !important;
    max-width: 100%;
}

.banRow {
    position: relative;
}

.bannerSliderMain {
    padding-top: 325px;
    padding-bottom: 235px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.bannerSliderMain::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 175.19%);
}

.bannerSlider .swiper-wrapper .swiper-slide {
    width: 100% !important;
    background: transparent !important;
}

.banCntBox {
    max-width: 910px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
    padding-left: 15px;
    padding-right: 15px;
}

.banCntBox .h1 {
    text-align: center;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
}

.bannerSlider .swiper-slide-active .banCntBox .h1 {
    animation: fadeUp 1s ease-out forwards;
    animation-delay: .3s;
}

.banCntBox .mainBtn {
    margin-top: 30px;
    opacity: 0;
    transform: translateY(30px);
}

.bannerSlider .swiper-slide-active .mainBtn {
    animation: fadeUp 1s ease-out forwards;
    animation-delay: .6s;
}

.banCntBox .mainBtn :is(button, a) {
    margin-left: auto;
    margin-right: auto;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* MAIN BANNER CSS END */

/* ICON LIST CSS START  */

.iconListSec {
    background: #000000;
    padding-top: 15px;
    padding-bottom: 15px;
}

.iconListRow {
    display: grid;
    grid-template-columns: 31.5% 40% 26.5%;
    gap: 12px;
}

.iconListMn {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.iconListMn:not(:first-child) {
    border-left: 1px solid #E2DBC9;
    justify-content: center;
}

.iconListMn:last-child {
    justify-content: end;
}

.iconListImg {
    width: 50px;
    min-width: 50px;
    height: 50px;
    background: #E2DBC9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.iconListImg img {
    height: 30px;
    width: 30px;
    object-fit: contain;
}

.iconListCnt span {
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0px;
    color: #fff;
    text-transform: capitalize;
}

/* ICON LIST CSS END  */

/* IMAGE WITH CONTENT CSS START */

.imgWithCntMn {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #FAF9E4;
}

.imgWithCntRow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    align-items: center;
}

.imgWithCntContent .h2 {
    max-width: 430px;
    margin-bottom: 30px;
}

.imgWithCntContent :is(p, ul li) {
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0px;
    color: #4b4b4b;
    margin-top: 16px;
    max-width: 615px;
}

.imgWithCntContent ul {
    padding-left: 30px;
    margin-top: 20px;
}

.imgWithCntContent ul li {
    color: #000;
}

.imgWithCntContent ul li strong {
    font-weight: 500;
}

.imgWithCntImg {
    height: 595px;
    width: 100%;
}

.imgWithCntImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ROTATE CLMNS */

.imgWithCntMn.rotateClmns .imgWithCntRow .imgWithCntContent {
    order: 2;
}

/* ROTATE CLMNS */

/* REMOVE BG */

.imgWithCntMn.remBg {
    background: transparent;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* REMOVE BG */

/* LARGE IMG */

.imgWithCntMn.lrgeImg .imgWithCntRow {
    grid-template-columns: 1.4fr 1fr;
}

.imgWithCntMn.lrgeImg .imgWithCntImg {
    height: 651px;
}

/* LARGE IMG */

/* IMAGE WITH CONTENT CSS END */

/* COLLECTION SECTION CSS START */

.collectionMain :is(.container, .page-width) {
    padding-left: 0px !important;
    padding-right: 0px !important;
    max-width: 100%;
}

.collectionMain:has(.collectionSliderBundle .swiper-wrapper .swiper-slide:nth-child(4)) .swiperArrows {
    display: block;
}

.collectionMain .swiperArrows {
    display: none;
}

.collectionMain:has(.collectionSlider .swiper-wrapper .swiper-slide:nth-child(5)) .swiperArrows {
    display: block;
}

.collectionMainRow {
    position: relative;
}

.collectionMain .swiper-button-next,
.collectionMain .swiper-button-prev {
    top: 50%;
}

.collection-card-wrapper {
    position: relative;
    transition: all ease .3s;
}

.collection-card-wrapper:hover .card .card__inner .card__media .media {
    transform: scale(1.05);
}

.collection-card-wrapper .card .card__inner {
    position: relative;
    height: 740px;
    overflow: hidden;
}

.collectionSlider .collection-card-wrapper .card .card__inner {
    height: 600px;
}

.collection-card-wrapper .card .card__inner::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.collection-card-wrapper .card .card__inner .card__media {
    height: 100%;
    width: 100%;
}

.collection-card-wrapper .card .card__inner .card__media .media {
    height: 100%;
    width: 100%;
    transition: all ease .3s;
    overflow: hidden;
}

.collection-card-wrapper .card .card__inner .card__media .media img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.collection-card-wrapper .card .card__content {
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 30px;
    z-index: 2;
    height: 100%;
    width: 100%;
}

.collection-card-wrapper .card .card__content .card__information {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.collection-card-wrapper .card .card__content .card__information .card__heading {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0px;
    color: #fff;
}

.collection-card-wrapper .card .card__content .card__information .card__heading a {
    color: #fff;
}

.collection-card-wrapper .card .card__content .card__information .card__heading a::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.collection-card-wrapper .card .card__content .card__information .mainBtn {
    margin-top: 20px;
}

.collection-card-wrapper .card .card__content .card__information .mainBtn :is(a, button) {
    padding: 10px 26px 13px;
}

.collection-card-wrapper:hover .card .card__content .card__information .mainBtn :is(a, button).lightBorderBtn:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #000;
    z-index: -1;
}

.collection-card-wrapper:hover .card .card__content .card__information .mainBtn :is(a, button).lightBorderBtn,
.collection-card-wrapper:hover .card .card__content .card__information .mainBtn :is(a, button).lightBorderBtn:focus {
    color: #FAF9E4;
}

.collection-card-wrapper:hover .card .card__content .card__information .mainBtn :is(a, button).lightBorderBtn:before,
.collection-card-wrapper:hover .card .card__content .card__information .mainBtn :is(a, button).lightBorderBtn:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

/* COLLECTION SECTION CSS END */

/* PRODUCT CARD SECTION CSS START */

.prodCardSec {
    margin-top: 100px;
    margin-bottom: 100px;
}

.prodCardSec .container .mainBtn :is(button, a) {
    margin-left: auto;
    margin-right: auto;
}

.prodCardRow {
    position: relative;
}

.prodCardSec .prodCardRow .swiper-button-next {
    right: -20px;
    top: 38%;
    height: 40px;
    width: 40px;
    background: #000;
    border: 1px solid #FAF9E4;
    border-radius: 50%;
}

.prodCardSec .prodCardRow .swiper-button-prev {
    left: -20px;
    top: 38%;
    height: 40px;
    width: 40px;
    background: #000;
    border: 1px solid #FAF9E4;
    border-radius: 50%;
    transition: all ease .3s;
}

.prodCardSec .prodCardRow .swiper-button-prev:hover,
.prodCardSec .prodCardRow .swiper-button-next:hover {
    background: #FAF9E4;
}

.prodCardSec .prodCardRow .swiper-button-prev:hover::after,
.prodCardSec .prodCardRow .swiper-button-next:hover::after {
    color: #000;
}

.prodCardSec .prodCardRow .swiper-button-next::after,
.prodCardSec .prodCardRow .swiper-button-prev::after {
    color: #fff;
    font-size: 20px;
}

.product-card-wrapper {
    position: relative;
}

.product-card-wrapper .card .card__inner {
    height: 414px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.product-card-wrapper .card .card__inner .card__media {
    height: 100%;
    width: 100%;
}

.product-card-wrapper .card .card__inner .card__media .media {
    height: 100%;
    width: 100%;
}

.product-card-wrapper .card .card__inner .card__media .media img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product-card-wrapper .card__content {
    margin-top: 20px;
}

.product-card-wrapper .card__content .card__information .card__heading {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0px;
    text-transform: capitalize;
    color: #000;
}

.product-card-wrapper .card__content .card__information .card__heading a {
    color: #000;
}

.product-card-wrapper .card__content .card__information .card__heading a::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.product-card-wrapper .card__content .card__information .price {
    margin-top: 12px;
}

.product-card-wrapper .card__content .card__information .price .price__container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-card-wrapper .card__content .card__information .price .price__container .price-item {
    color: #D63A2F;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0px;
}

.product-card-wrapper .card__content .card__information .price .price__container .price__regular .price-item {
    text-decoration: line-through;
    color: #bbbbbb;
}

.product-card-wrapper .card__content .card__information .mainBtn {
    margin-top: 20px;
}

.product-card-wrapper .card__content .card__information .mainBtn :is(a, button) {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    text-transform: none;
}

.product-card-wrapper:hover .prod-size-selector-hldr {
    transform: translateY(0px);
    opacity: 1;
}

.prod-size-selector-hldr {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateY(100%);
    opacity: 0;
    background: #FFFFFF99;
    transition: all ease .4s;
    bottom: 0px;
    width: 100%;
    padding: 10px 0;
    z-index: 2;
}

.prod-size-input {
    display: none;
}

.prod-size-label {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    min-width: 40px;
    min-height: 30px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prod-size-input:checked+.prod-size-label {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.product-card-wrapper:hover .card__content .card__information .mainBtn :is(a, button).darkBorderBtn:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #000;
    z-index: -1;
}

.product-card-wrapper:hover .card__content .card__information .mainBtn :is(a, button).darkBorderBtn,
.product-card-wrapper:hover .card__content .card__information .mainBtn :is(a, button).darkBorderBtn:focus {
    color: #fff;
}

.product-card-wrapper:hover .card__content .card__information .mainBtn :is(a, button).darkBorderBtn:before,
.product-card-wrapper:hover .card__content .card__information .mainBtn :is(a, button).darkBorderBtn:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

/* PRODUCT CARD SECTION CSS END */

/* WOMEN RESULT SECTION CSS START */

.womenResult {
    margin-top: 100px;
    margin-bottom: 100px;
}

.womenResult :is(.page-width, .container) {
    max-width: 100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.womenResultSlider {
    width: 100%;
}

.womenResultSlider .swiper-wrapper {
    align-items: center;
    width: 100%;
    min-height: 570px;
}

.womenResultSlider .swiper-wrapper .swiper-slide {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
}

.womenResultSlider .swiper-wrapper .swiper-slide-active .realWmnBxOutImg {
    height: 570px;
}

.realWmnBx {
    position: relative;
    overflow: hidden;
}

.womenResultSlider .swiper-wrapper .swiper-slide-active .relWmnBxInnerHldr {
    transform: translateY(0px);
    opacity: 1;
}

.relWmnBxInnerHldr {
    padding: 10px;
    position: absolute;
    z-index: 2;
    bottom: 0px;
    left: 0px;
    width: 100%;
    opacity: 0;
    transform: translateY(100%);
    transition: all ease .4s;
}

.realWmnBxOutImg {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 510px;
    transition: all ease .4s;
}

.womenResultSlider .swiper-wrapper .swiper-slide-active .realWmnBxOutImg::after {
    opacity: 0;
}

.realWmnBxOutImg::after {
    background: #00000033;
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all ease .3s;
}

.realWmnBxOutImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.relWmnBxInner {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background: #FFFFFF;
}

.relWmnBxInnerImg {
    height: 76px;
    width: 95px;
    min-width: 95px;
}

.relWmnBxInnerImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.relWmnBxInnerCnt span {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0px;
}

.relWmnBxInnerCnt p {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0px;
    color: #767676;
    margin-top: 10px;
}

/* WOMEN RESULT SECTION CSS END */

/* BLOG CARD SECTION CSS START  */

.ourBlogMain {
    margin-top: 100px;
    margin-bottom: 100px;
}

.ourBlogMain .container .mainBtn :is(a, button) {
    margin-left: auto;
    margin-right: auto;
}

.ourBlogMainRow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.article-card-wrapper {
    position: relative;
}

.article-card-wrapper .card .card__inner {
    overflow: hidden;
}

.article-card-wrapper .card .card__inner .article-card__image-wrapper {
    width: 100%;
    height: 366px;
}

.article-card-wrapper .card .card__inner .article-card__image-wrapper .article-card__image {
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: all ease .4s;
}

.article-card-wrapper:hover .card .card__inner .article-card__image-wrapper .article-card__image {
    transform: scale(1.05);
}

.article-card-wrapper .card .card__inner .article-card__image-wrapper .article-card__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.article-card-wrapper .card .card__content {
    margin-top: 20px;
}

.article-card-wrapper:hover .card .card__content .card__information .card__heading,
.article-card-wrapper:hover .card .card__content .card__information .card__heading a {
    color: #C48B78;
}

.article-card-wrapper .card .card__content .card__information .card__heading {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-transform: none;
    transition: all ease .4s;
    margin-top: 5px;
    color: #000;
}

.article-card-wrapper .card .card__content .card__information .card__heading a {
    color: #000;
    transition: all ease .4s;
}

.article-card-wrapper .card .card__content .card__information .card__heading a::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.article-card-wrapper .card .card__content .card__information .article-card__excerpt {
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #767676;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-card-wrapper .card .card__content .card__information .article__info {
    display: flex;
    align-items: center;
    gap: 14px;
}

.article-card-wrapper .card .card__content .card__information .article__info li {
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #767676;
    list-style-position: inside;
}

.article-card-wrapper .card .card__content .card__information .article__info li::marker {
    color: #C48B78;
}

.article-card-wrapper .card .card__content .card__information .article__info li:first-child {
    list-style: none;
}

/* BLOG CARD SECTION CSS END  */

/* INSTA GALLERY SECTION CSS START */

.instaGalleryMain {
    margin-top: 100px;
    margin-bottom: 100px;
}

.instaGalleryMainRow img {
    width: 100%;
}

/* INSTA GALLERY SECTION CSS END */

/* FOOTER FORM SECTION CSS START */

.footerMainFormSec {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #FAF9E4;
}

.footerMnRow {
    max-width: 1017px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;
}

.ftMnFrmCnt h3 {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0px;
    text-transform: none;
}

.ftMnFrmCnt p {
    margin-top: 10px;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #767676;
}

.ftMnFrm {
    max-width: 410px;
    margin-left: auto;
    margin-right: 0px;
    width: 100%;
}

.ftNsLtrForm {
    position: relative;
    width: 100%;
}

.ftNsLtrForm input {
    width: 100%;
    height: 54px;
    border: 1px solid #000000;
    background: transparent;
    padding-left: 20px;
    padding-right: 170px;
}

.ftNsLtrForm input,
.ftNsLtrForm input::placeholder {
    font-size: 16px;
    line-height: 22px;
    color: #767676;
}

.ftNsLtrForm .mainBtn {
    margin-top: 0px !important;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    height: 100%;
}

.ftNsLtrForm .mainBtn button {
    border-radius: 0px;
    min-width: 150px;
    height: 100%;
}

/* FOOTER FORM SECTION CSS END */

/* MAIN FOOTER CSS START */

.mainFooter {
    background: #000;
}

.footMainTopRow {
    display: grid;
    grid-template-columns: 41.5% 23% 14% 19%;
    gap: 8px;
    padding-top: 60px;
    padding-bottom: 30px;
}

.footLinks:last-child {
    margin-left: auto;
}

.footLogo {
    width: 95px;
}

.footLogo a {
    width: 100%;
    height: 100%;
    display: block;
}

.footLogo a img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.footDesc {
    max-width: 330px;
    margin-top: 20px;
    width: 100%;
}

.footDesc p {
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #fff;
}

.footLinks h3 {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #fff;
    text-transform: capitalize;
}

.footMenuLinks {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footMenuLinks li a {
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #fff;
    text-transform: capitalize;
    position: relative;
    transition: all ease .3s;
}

.footMenuLinks li a:before {
    content: "";
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: #fff;
    transition: transform .25s ease-out;
}

.footMenuLinks li a:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.footMainBtmRow {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ftBtmLinks {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.ftBtmLinks li {
    list-style: none;
}

.ftBtmLinks li :is(p, a) {
    color: #fff;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #fff;
    transition: all ease .3s;
    position: relative;
}

.ftBtmLinks li a:before {
    content: "";
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: #fff;
    transition: transform .25s ease-out;
}

.ftBtmLinks li a:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* MAIN FOOTER CSS END */


/* INNER BANNER CSS START */

.mainInnerBanner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 150px;
    padding-bottom: 60px;
}

.mainInnerBanner::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 175.19%),
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    z-index: 1;
}

.innerBannerRow {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
}

.innBanCnt .h1 {
    color: #fff;
    text-align: center;
}

.innBanCnt p {
    font-size: 18px;
    line-height: 23px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-family: "DM Sans", sans-serif;
    margin-top: 10px;
}

/* INNER BANNER CSS END */

/* VIDEO BANNER SECTION CSS START */

.videoBanner {
    position: relative;
}

.videoBanner .container {
    padding-left: 0px !important;
    padding-right: 0px !important;
    max-width: 100%;
}

.video-banner-hldr {
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.video-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    cursor: pointer;
}

.video-content-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    border-radius: 6px;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 3;
    background: #00000066;
    cursor: pointer;
    transition: all ease .3s;
}

.video-content-box .h2 {
    color: #fff;
}

.video-content-box .mainBtn {
    margin-top: 0px !important;
}

button#toggleBtn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.toggle-button-video {
    display: flex;
    justify-content: center;
}

.toggle-button-video svg {
    fill: currentColor;
}

.video-playing .video-content-box {
    display: none;
}

.video-container:hover .toggle-button-video {
    opacity: 1;
}

/* VIDEO BANNER SECTION CSS END */

/*  PROMOTIONAL BANNER CSS START  */

.promotionalBanner {
    background-color: #FAFAFA;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.promBanCnt {
    padding-top: 273px;
    padding-bottom: 260px;
    max-width: 480px;
    margin-left: auto;
    margin-right: 60px;
}

.promBanCnt p {
    font-size: 18px;
    line-height: 23px;
    color: #4B4B4B;
    margin-top: 10px;
}

/*  PROMOTIONAL BANNER CSS END  */

/* FAQ MAIN SECTION CSS START */

.faqMainSec {
    margin-top: 100px;
    margin-bottom: 100px;
}

.faqMainRow {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.faqMainRow .accordion-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    background: #8B8B8B14;
}

.faqMainRow .accordion-item-header {
    position: relative;
    transition: background-color 0.3s ease;
    padding: 30px;
}

.faqMainRow .accordion-item-header::after {
    content: "";
    font-size: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    background-image: url(../images/faq-open.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 14px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    transition: all ease-in-out 0.3s;
    background-color: #fff;
}

.faqMainRow .accordion-item-header.active::after {
    content: "";
    background-image: url(../images/faq-close.svg);
    transform: translateY(-50%) rotate(180deg);
    border: 1px solid #000;
    background-color: #000;
}

.faqMainRow .accordion-item-header h5 {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #000;
}

.faqMainRow .acc-item-head {
    max-width: 96%;
    padding-right: 15px;
}

.faqMainRow .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.faqMainRow .accordion-item-body-content {
    padding: 30px;
    padding-top: 0px !important;
}

.faqMainRow .accordion-item-body-content p {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0px;
    color: #414141;
    padding-right: 20px;
}

.faqMainRow .accordion-item-body-content p:not(:first-child) {
    margin-top: 10px;
}

.faqMainRow .accordion-item:has(.active) .accordion-item-body {
    max-height: max-content;
    transition: max-height 0.3s ease-in-out;
}

/* FAQ MAIN SECTION CSS END */

/* PROD TAB SECTION CSS START  */

.prod-tab-sec {
    margin-top: 100px;
}

.tabs-prod {
    display: flex;
    cursor: pointer;
    overflow-x: auto;
    border-bottom: 1px solid #00000066;
}

.tabs-prod::-webkit-scrollbar {
    height: 5px;
    border-radius: 5px;
}

.tabs-prod::-webkit-scrollbar-track {
    background: #000;
    border-radius: 5px;
}

.tabs-prod::-webkit-scrollbar-thumb {
    background: #C48B78;
    border-radius: 5px;
}

.tabProd {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 26px;
    padding-bottom: 20px;
    margin-right: 30px;
    color: #00000066;
    transition: color 0.3s ease;
    text-wrap: nowrap;
}

.tabProd:last-child {
    margin-right: 0px !important;
}

.tabProd:hover {
    color: #000;
}

.tabProd.active-tab {
    color: #000;
    position: relative;
}

.tabProd.active-tab::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #000;
}

.tab-prod-wrapper {
    position: relative;
}

.tab-prod-content {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    width: 100%;
    padding-top: 40px;
}

.tab-prod-content.active-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    position: relative;
}

.tab-prod-content p,
.tab-prod-content ul li {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    color: #414141;
    line-height: 23px;
}

.tab-prod-content ul li:last-child {
    margin-bottom: 0px !important;
}

.tab-prod-content ul {
    padding-left: 30px;
    margin-top: 20px;
}

.tab-prod-content ul li {
    list-style: disc;
    margin-bottom: 10px;
}

/* PROD TAB SECTION CSS END  */

/* TESTIMONAL MAIN SECTION START */

.testiMonial {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #FAF9E4;
}

.testiMonialRow {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    gap: 30px;
}

.testiMonialBox {
    height: fit-content;
    background: #F3F3F3;
}

.testiMonialBox:nth-of-type(7n + 1) {
    grid-area: 1/1/span 2/span 4;
    min-height: 626px;
}

.testiMonialBox:nth-of-type(7n + 2) {
    grid-area: 1/5/span 2/span 4;
    min-height: 441px;
}

.testiMonialBox:nth-of-type(7n + 3) {
    grid-area: 1/9/span 2/span 4;
    min-height: 626px;
}

.testiMonialBox:nth-of-type(7n + 4) {
    grid-area: 2/1/span 2/span 4;
    min-height: 626px;
}

.testiMonialBox:nth-of-type(7n + 5) {
    grid-area: 2/5/span 1/span 4;
    min-height: 441px;
}

.testiMonialBox:nth-of-type(7n + 6) {
    grid-area: 2/9/span 2/span 4;
    min-height: 626px;
}

.testiMonialBox:nth-of-type(7n + 7) {
    grid-area: 3/5/span 1/span 4;
    min-height: 441px;
}

.testiMonialBox:has(.testiImg) .testiContent {
    margin-top: 30px;
}

.testiImg {
    width: 100%;
    height: 321px;
}

.testiImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.testiContent {
    margin: 10px;
    padding: 20px;
    background: #FFFFFF;
}

.rating_star {
    --star-size: 20px;
    --star-color: #b5b5b5;
    --star-filled: #000000;
    --rating: 0;
    position: relative;
    display: inline-block;
    font-size: var(--star-size);
    line-height: 1;
    font-family: monospace;
}

.rating_star::before,
.rating_star::after {
    content: "★★★★★";
    display: block;
    pointer-events: none;
}

.rating_star::before {
    color: var(--star-color);
}

.rating_star::after {
    color: var(--star-filled);
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--rating) / 5 * 100%);
    overflow: hidden;
}

.testiCntTop {
    margin-bottom: 20px;
}

.testiCntTop p {
    margin-top: 10px;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0px;
    color: #8B8B8B;
}

.testiCntBtm {
    padding-top: 20px;
    border-top: 1px solid #E5E5E5;
}

.testiCntBtm span {
    position: relative;
    display: block;
    margin-bottom: 10px;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #000000;
    width: fit-content;
}

.testiCntBtm span::after {
    content: '';
    height: 16px;
    width: 16px;
    background-image: url(../images/tick-ic.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: -23px;
    top: 50%;
    transform: translateY(-50%);
}

.testiCntBtm p {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #8B8B8B;
}

/* TESTIMONAL MAIN SECTION END */